:root
{
	--globalfont: Roboto;
	--desktoppagewidth: 80rem;
	--transitionlength: 0.25s;

	/* Only for reference */
	--bpoint_desktop: 1280px;
	--bpoint_mobile: 900px;

	--themelight: #00dbc2;
	--themedark: #008071;
	
	--textlight: white;
	--textdark: black;
	--textshadowdark: 0.2rem 0.2rem 0.5rem #000000;
	--textshadowlight: 0.2rem 0.2rem 0.5rem #c0bfbc;
	
	--blockdark: #000000;
	--blockmedium: #2b2b2b;
	--blocklight: #afafaf;

	--backgrounddark: #2b2b2b;
	--backgroundmedium: #afafaf;
	--backgroundlight: #ffffff;
}

@font-face
{
	font-family: Roboto;
	src: url(/res/font/Roboto-Light.ttf);
	font-weight: 300;
}

@font-face
{
	font-family: Roboto;
	src: url(/res/font/Roboto-Medium.ttf);
	font-weight: 500;
}

@font-face
{
	font-family: Roboto;
	src: url(/res/font/Roboto-Bold.ttf);
	font-weight: 700;
}

html, body
{
	margin: 0;
	font-family: var(--globalfont);
	background-color: var(--backgroundmain);
}

html
{
	scroll-behavior: smooth;
}

a
{
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
