.paragraph
{
	font-size: 2rem;
	margin: var(--standardmargin);
	margin-top: 0;
	font-weight: 300;
	text-align: center;
}

.paragraph__header
{
	margin: 0;
	font-size: 4rem; 
	font-weight: 500;
}

@media screen and (min-width: 900px) and (orientation: landscape)
{
	.paragraph
	{
		margin: 0;
		margin-bottom: var(--standardmargin);
		text-align: left;
	}
}
