.button
{
	max-width: 15rem;
	padding: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	color: var(--uicolor);
	transition: color var(--transitionlength), border-color var(--transitionlength);
}

.button:hover
{
	color: var(--themecolor);
	border-color: var(--themecolor);
}

.button:active
{
	color: var(--themecolordark);
	border-color: var(--themecolordark);
}

.button--bold
{
	border: var(--standardborder);
	font-weight: bold;
}

.button--thin
{
	border: none;
	border-bottom: var(--standardborder);
}
