.header
{
	display: flex;
	flex-flow: row nowrap;
	margin: auto;
	justify-content: space-between;
	text-align: center;
	background-color: #404040;
	width: 100%;
	height: 5rem;
	position: fixed;
	top: 0;
	z-index: 5;
}

.header > img
{
	justify-self: flex-start;
}

.header > h1
{
	margin-right: 2rem;
	color: var(--uicolor);
}
