.button
{
	max-width: 15rem;
	max-height: 2em;
	padding: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	color: var(--textlight);
	transition: color var(--transitionlength), border-color var(--transitionlength);
}

.button:hover
{
	color: var(--themelight);
	border-color: var(--themelight);
}

.button:active
{
	color: var(--themedark);
	border-color: var(--themedark);
}

.button--bold
{
	border: 0.2rem solid var(--textlight);
	border-radius: 0.5rem;
	font-weight: 500;
}

.button--thin
{
	border: none;
	border-bottom: 0.2rem solid var(--textlight);;
	padding: 0;
	padding-bottom: 0.5rem;
	font-weight: 500;
}
